src/WSDLFiles/Sudoku/Sudoku.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="Sudoku"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="Sudoku"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    
    
    
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="Sudoku" >
            
            <s:element name="board">
                <s:complexType>
                    <s:sequence>
                        <s:element name="column" maxOccurs="9" minOccurs="9">
                            <s:complexType>
                                <s:sequence>
                                    <s:element type="s:byte" name="row" maxOccurs="9" minOccurs="9"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            
            <s:element name="valid" type="s:boolean"/>
            <s:element name="number" type="s:byte"/>

        </s:schema>
    </wsdl:types>
    
    
    
    
    
    <wsdl:message name="checkBoardIn">
        <wsdl:part name="parameters" element="tns:board"/>
    </wsdl:message>
    <wsdl:message name="checkBoardOut">
        <wsdl:part name="parameters" element="tns:valid"/>
    </wsdl:message>
    <wsdl:message name="generateBoardIn">
        <wsdl:part name="parameters" element="tns:number"/>
    </wsdl:message>
    <wsdl:message name="generateBoardOut">
        <wsdl:part name="parameters" element="tns:board"/>
    </wsdl:message>
    <wsdl:message name="solveBoardIn">
        <wsdl:part name="parameters" element="tns:board"/>
    </wsdl:message>
    <wsdl:message name="solveBoardOut">
        <wsdl:part name="parameters" element="tns:board"/>
    </wsdl:message>
    
    
    
    
    
    <wsdl:portType name="ServiceSoap">
        <wsdl:operation name="checkBoard">
            <wsdl:input message="tns:checkBoardIn"/>
            <wsdl:output message="tns:checkBoardOut"/>
        </wsdl:operation>
        <wsdl:operation name="generateBoard">
            <wsdl:input message="tns:generateBoardIn"/>
            <wsdl:output message="tns:generateBoardOut"/>
        </wsdl:operation>
        <wsdl:operation name="solveBoard">
            <wsdl:input message="tns:solveBoardIn"/>
            <wsdl:output message="tns:solveBoardOut"/>
        </wsdl:operation>
    </wsdl:portType>
    
    
    
    
    <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkBoard">
            <soap:operation soapAction="Sudoku/checkBoard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateBoard">
            <soap:operation soapAction="Sudoku/generateBoard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="solveBoard">
            <soap:operation soapAction="Sudoku/solveBoard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkBoard">
            <soap:operation soapAction="Sudoku/checkBoard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateBoard">
            <soap:operation soapAction="Sudoku/generateBoard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="solveBoard">
            <soap:operation soapAction="Sudoku/solveBoard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    
    
    
    
    <wsdl:service name="SudokuService">
        <wsdl:port name="SudokuSoap" binding="tns:ServiceSoap">
            <soap:address location="http://localhost:8080/Sudoku/Service.asmx"/>
        </wsdl:port>
        <wsdl:port name="SudokuSoap12" binding="tns:ServiceSoap12">
            <soap12:address location="http://localhost:8080/Sudoku/Service.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
